@import url("grid.css");
@import url("image.css");
@import url("nav.css");

body {
  font-family: Verdana, Helvetica, Arial, sans-serif;
  font-size: small;
  line-height: 2em;
}

h1, h2, h3, h4 {
  color: #106f95;
  line-height: 1.6em;
  font-size: 34;
}

h2, h3{
	font-size: 20;
  text-align: left;
}

h4{
  text-align: center;
}

p{
  text-align: left;
}


