<!DOCTYPE html>
<html>
<head>
  <meta charset="utf-8">
  <link rel="stylesheet" href="css/home.css">
  <title>Italian Travels</title>
</head>
<body>
<div class="container">
  <%- include('./partials/_header.ejs'); %>
  <div id="navigation">
    <ul id="menu">
      <li><a href="index.html">Italy</a></li>
      <li><a href="page-01.html">Rome</a></li>
      <li  class="active"><a href="page-02.html">Florence</a></li>
      <li><a href="page-03.html">Naples</a></li>
      <li><a href="page-04.html">Verona</a></li>
      <li><a href="page-05.html">Sperlonga</a></li>
      <li><a href="page-06.html">Pompeii & Vesuvius</a></li>
      </ul>
    </div>
<div id="maincontent">
  <div id="primary">
    <h2>Florence on the banks of the Arno</h2>
      <p>
        <img src="./images/ponte-vecchio.jpg" class="large-left-img">
        Florence is a city in central Italy and the capital city of the Tuscany region.
        It is the most populated city in Tuscany, with 383,084 inhabitants in 2013, and over 1,520,000 in its metropolitan area. 
        </p>
      <p>
        Florence was a centre of medieval European trade and finance and one of the wealthiest cities of that era.
        </p>
      <p>
        The urban fabric of this small city, on the banks of the Arno river in north-eastern Tuscany, has hardly changed since the Renaissance.  Stand on a bridge over the Arno several times in a day and the light and mood changes every time.
        </p>
  <div id="traveltip">
    <h2>Things to do in Florence</h2>
      <ul>
        <li>Enjoy a steak - a thick portion of tender beef, cut and prepared in a certain way.</li>
        <li>Duomo di Firenze - is the cathedral of Florence, Italy.</li>
        <li>View Florence from Piazzale Michelangelo.</li>
        <li>Enjoy the Art of Michelangelo in Florence.</li>
        </div>
   <h2>Florence from Piazzale Michelangelo</h2>
     <p>
       <img src="./images/piazzale-michelangelo.jpg" class="large-left-img">
       This 19th century piazza has undoubtedly the best panoramic view of Florence. The square is decorated with copies of Michelangelo's sculptures, but it's the view people come here to see. No matter what time of day, you will find that Piazzale Michelangelo truly offers a stupendous lookout over Florence.
       </p>
     <p>
       Florence seen from above is a singular experience. A perfect photo opportunity and a moment of wonder. You are looking at the city that gave birth to incredible artists, amazing scientists and an enthralling history of discovery and power that has filled novels and movie theatres. 
       </p> 
   <h2>Art of Michelangelo in Florence</h2>
     <p>
       Born in Caprese, Tuscany, Michelangelo Buonarotti grew up in Florence and has long been associated with the city. Additionally, Florence, as well as the city of Rome, is currently home to some of Michelangelo's greatest works.
       </p>
    <p>
      Florence is where you will find the sculpture of David, which is one of the great icons of Renaissance art, as well as numerous other sculptures, paintings, and architectural projects by the Italian artist. There are several places in Florence where you can see his work and learn more about his life. 
      </p>
    </div>
  <div id="secondary">
    <h4>Florence Steak</h4>
        <img src="./images/steak.jpg" class="small-centre-img">
    <h4>Statue of David</h4>
       <img src="./images/michelangelo-statue.jpg" class="small-right-img">    
    <h4>Duomo di Firenze</h4>   
        <img src="./images/duomo.jpg" class="small-centre-img">
     </div>
      <%- include('./partials/_footer.ejs'); %>
    </div>
   </body>
  </html>