<!DOCTYPE html>
<html>
  <head>
  <meta charset="utf-8">
  <link rel="stylesheet" href="css/home.css">
  <title>Italian Travels</title>
  </head>
<body>
  <div class="container">
    <%- include('./partials/_header.ejs'); %>
<div id="navigation">
  <ul id="menu">
    <li><a href="index.html">Italy</a></li>
    <li><a href="page-01.html">Rome</a></li>
    <li><a href="page-02.html">Florence</a></li>
    <li><a href="page-03.html">Naples</a></li>
    <li class="active"><a href="page-04.html">Verona</a></li>
    <li><a href="page-05.html">Sperlonga</a></li>
    <li><a href="page-06.html">Pompeii & Vesuvius</a></li>
    </ul>
   </div>
  </div>
<div id="maincontent">
  <div id="primary">
    <h2>Verona - City of Romance</h2>	
      <p>
        Verona is a city in northern Italy’s Veneto region, with a medieval old town built between the meandering Adige River. It’s famous for being the setting of Shakespeare’s "Romeo and Juliet." 
        </p>
      <p>  
        A 14th-century residence with a tiny balcony overlooking a courtyard is said be “Juliet’s House." The Verona Arena is a huge 1st-century Roman amphitheatre, which currently hosts concerts and large-scale opera performances.
        </p> 
      <img src="./images/verona-view.jpg" class="medium-centre-img">
      <p>
        The city is so famous for love that it gets countless letters addressed simply to "Juliet, Verona, Italy." 
        There are even volunteers to respond to these mostly lovesick people.
        </p>
      <p>
        Despite the romantic fiction, the town is packed with genuine history. Because ancient Romans considered Verona an ideal resting spot before crossing the Alps, the city has a wealth of Roman ruins. 
        </p>
  <div id="traveltip">
    <h2>Things to do in Verona</h2>
      <ul>
        <li>Funicolare di Castel San Pietro - spectacular view (pictured above).</li>
        <li>Verona Arena - a Roman amphitheatre in Piazza Bra.</li>
        <li>Take a bus or train to Sirmione on the southern bank of Lake Garda.</li>
        <li>Juliet's Balcony - Gothic-style 1300s house and museum, with a stone balcony.</li>
        <li>Portoni della Brà - Fabulous entrance gate into Piazza Bra.</li>
      </ul>
      </div>
   <h3>Verona Arena</h3>	
     <p>
       The well-preserved amphitheater — the third largest in the Roman world — dates from the first century AD and still retains most of its original stone. </p>
       <img src="./images/verona-arena.jpg" class="medium-centre-img">
       </p>    
     <p>
       Over the centuries, crowds of up to 25,000 spectators have cheered Roman gladiator battles, medieval executions, and modern plays — including Verona's popular summer opera festival, which takes advantage of the arena's famous acoustics.
       </p>
      </div>
  <div id="secondary">
	  <p>
	    <h4>Juliet's Balcony</h4>
        <img src="./images/juliet.jpg" class="small-right-img">
        Even though Juliet Capulet is a fictional character created by Shakespeare, millions worship her as a love goddess.
        </p>
    <p>
      Every year tourists from around the globe flock to Verona just to see the balcony where she was wooed by her Romeo.
      </p>
    <p>
      <h4>Portoni della Brà</h4>
        <img src="./images/verona-wall.jpg" class="small-right-img">
        The gates are made up of two round arches, and between them, at the top, there is a clock placed there in 1872. 
        </p>
    <p>
      The construction materials are Veronese marble for the lower part, and red bricks for the upper part, where a crenelated walkway passes.
      </p>
      </div>
<%- include('./partials/_footer.ejs'); %>
    </div>
  </body>
</html>