<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <link rel="stylesheet" href="css/home.css">
    <title>Italian Travels</title>
    </head>
<body>
  <div class="container">
    <%- include('./partials/_header.ejs'); %>
  <div id="navigation">
    <ul id="menu">
      <li><a href="index.html">Italy</a></li>
      <li><a href="page-01.html">Rome</a></li>
      <li><a href="page-02.html">Florence</a></li>
      <li><a href="page-03.html">Naples</a></li>
      <li><a href="page-04.html">Verona</a></li>
      <li class="active"><a href="page-05.html">Sperlonga</a></li>
      <li><a href="page-06.html">Pompeii & Vesuvius</a></li>
      </ul>
      </div>
    </div>
<div id="maincontent">
  <div id="primary">
    <h2>Sperlonga - Italy's Best Kept Secret</h2>
      <p>
        Sperlonga is a coastal town in the province of Latina, Italy, about halfway between Rome and Naples.
        </p> 
      <p>
        It is best known for the ancient Roman sea grotto discovered in the grounds of the Villa of Tiberius containing the spectacular Sperlonga sculptures, which are displayed in a museum on the site 
        </p>
      <p>
        It is a beautiful seaside town. Whitewashed houses are clustered together on a steep headland, the streets warren-like stairways that bring you to unexpected terraces above the sea. The old town is compact and charming, and a pleasure to explore.
        </p>  
    <div id="traveltip">
      <h2>Things to do in Sperlonga</h2>
      <ul>
        <li>Nothing - it is the perfect place to relax on the beach.</li>
        <li>Villa of Tiberius - access through a small museum full of spectacular sculptures.</li>
        <li>Torre Truglia - is a watchtower standing on a rock on the promontory of Sperlonga.</li>
        </p>
    </div>
    <h3>Villa of Tiberius</h3>
      <p>
        <img src="./images/grotto.jpg" class="large-left-img">
        The Roman Emperor's lost summer home and grotto full of enormous sculptures sit along the Italian seashore.  
        </p>
      <p>
        For years, it was widely believed that the Roman Emperor Tiberius, who reigned from 14 to 37 AD, kept a summer villa along the coast between Rome and Naples.
        </p>
      <p> 
        But it wasn’t until 1957 that it was discovered so near the town of Sperlonga.
        </p>
      <p>
        All that remains of the Villa di Tiberio (Villa of Tiberius) itself are some short walls, but you are free to move about them as you wish. A slow path leads visitors to fish ponds and from there, the grotto, where the emperor is believed to have dined and entertained.
        </p>
      <p>
        The grotto itself is spacious and can be explored freely, and it’s easy to imagine it once held such magnificent statues. Sperlonga was thought to be a place where the legendary Odysseus landed for some time, hence the works from the Odyssey that decorated the place. 
        </p>
      </div>
<div id="secondary">
  <h4>Blinding of Polyphemus</h4>
     <img src="./images/grotto-ex.jpg" class="small-right-img">
     <p>
      Found in 1957 in the grotto of Tiberius’s Villa in Sperlonga and is currently on display at the local Archaeological Museum.
    </p>
  <h4>Torre Truglia</h4>
     <img src="./images/sperlonga-fort.jpg" class="small-right-img">
     <p>
      Built in the 16th century as part of the defense mechanism of the Tyrrhenian coast.
      </p>
     </div>
      <%- include('./partials/_footer.ejs'); %>
    </div>
   </body>
  </html>